package main

import (
	"log"

	"{{MODULE_NAME}}/data"
	_ "{{MODULE_NAME}}/data/load"

	frontsite "github.com/dever-package/front/service/site"
	dever "github.com/shemic/dever/cmd"
	"github.com/shemic/dever/server"
)

func main() {
	if err := dever.Run(func(s server.Server) {
		data.RegisterRoutes(s)
		frontsite.Register(s)
	}); err != nil {
		log.Fatal(err)
	}
}
