package model

import (
	"time"

	"github.com/shemic/dever/orm"
)

type {{TYPE_NAME}} struct {
	ID        uint64    `dorm:"primaryKey;autoIncrement;comment:主键ID"`
	Name      string    `dorm:"type:varchar(128);not null;comment:名称"`
	Status    int16     `dorm:"type:smallint;not null;default:1;comment:状态"`
	Sort      int       `dorm:"type:int;not null;default:100;comment:排序"`
	CreatedAt time.Time `dorm:"comment:创建时间"`
}

var {{RESOURCE_FILE}}StatusOptions = []map[string]any{
	{"id": 1, "value": "启用"},
	{"id": 2, "value": "停用"},
}

func {{MODEL_FUNC}}() *orm.Model[{{TYPE_NAME}}] {
	return orm.LoadModel[{{TYPE_NAME}}]("{{TYPE_NAME}}", "{{TABLE_NAME}}", orm.ModelConfig{
		Order:    "sort asc,id asc",
		Database: "default",
		Options: map[string]any{
			"status": {{RESOURCE_FILE}}StatusOptions,
		},
	})
}
